<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
    <link rel="stylesheet" href="./styles/base.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <div class="y-sticky">
      ${header}
      <section class="y-wrap">
        <p>
          Courage the Cowardly Dog follows Courage (Marty Grabstein), a kind yet
          easily frightened dog. He was abandoned as a puppy after his parents
          were forcibly sent into outer space by a crazed veterinarian.[2] Soon
          after, he was found in an alleyway by Muriel Bagge (Thea White), a
          friendly, sweet-natured Scottish woman, who decided to take Courage in
          as her own, and was inspired by the nature of this first meeting to
          give him his name. In the present, he lives with the now elderly
          Muriel and her also elderly husband Eustace Bagge (Lionel Wilson
          episodes 1–33, Arthur Anderson episodes 34–52), a grumpy, selfish and
          greedy farmer who regularly mistreats Courage out of jealousy and
          refers to him as "stupid dog". The entire family lives in a two floor,
          isolated farmhouse in what consists of a large, desert-like area in
          the middle of Kansas: the nearest town to the farmhouse is a fictional
          town with the literal name of Nowhere.
        </p>
        <div class="gallery">

          <div class="gallery__image-child gallery__image--primary">
            <img class="gallery__image-event" src="./images/cartoon-network.png" alt="Cartoon Network Logo">
          </div>

          <div class="gallery__image-child">

            <div class="gallery__image-grandchild">
              <div class="gallery__image--secondary">
                <img class="gallery__image-event" src="./images/courage-show.png" alt="Courage the Cowardly Dog Logo">
              </div>
              <div class="gallery__image--secondary">
                <img class="gallery__image-event" src="./images/courage-happy.jpg" alt="Picture of Courage">
              </div>
            </div>

            <div class="gallery__image-grandchild">
              <div class="gallery__image--secondary">
                <img class="gallery__image-event" src="./images/courage-muriel.jpeg" alt="Picture of Muriel">
              </div>
              <div class="gallery__image--secondary">
                <img class="gallery__image-event" src="./images/courage-eustace.jpeg" alt="Picture of Eustace">
              </div>
            </div>

          </div>
        </div>

        <img id="section__image" src="./images/courage.jpg" alt="" />
        <button id="section__button">Change Courage Image</button>
      </section>
      ${footer}
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
