* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* body {
  display:flex;
  flex-direction: column;
} */

body,
html {
  height: 100%;
}

footer {
  background-color: darkorchid;
  text-align: center;
}

header {
  background-color: pink;
  margin-bottom: 2rem;
}

img {
  display: block;
  margin: 0 auto;
  height: 35%;
  width: 35%;
  margin-bottom: 2rem;
}

p:last-of-type {
  margin-bottom: 2rem;
}

section {
  flex: 1;
}